.jumbotron{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #21A1CB;
    color: white;
}
.header{
    display: flex;
    justify-content: center;
}

.items{
    flex-direction: column;
}

.product-box{
    display: flex;
    border: .5em groove lightgrey;
    margin-bottom: 1em;
    
}

.product-image{
    width: 200px;
    height: 200px;
}

.product-name{
    margin: auto auto auto 1em;
}

.product-price{
    text-align: right;
    margin: auto 2em auto auto;
}

/*Purchase Modal Formatting*/
#purchase_modal
{
    opacity: 100%;
    padding: 2em 2em 2em 2em;
}

.modal-title
{
    float: left;
    font-weight: bold;
}

.col
{
    padding: 0em 0em 0em 0em;
}

.checkout_info_label
{
    color: white;
    background-color: #21A1CB;;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 0.5em 0em 0.5em 0em;
}

input
{
    margin: 0.5em 0em 0.5em 0em;
}

.place_order_button
{
    width: 80%;
    position: relative;
    right: 9%;
}

/*Format Payment Information Button*/
button.pay_info
{
    width:  20%;
    margin-bottom: 2em;
    margin-left: 2em;
}