/* Setting up format for jumbotron color */
.jumbotron{
    width: 100%;
	text-align: center;
	color: white;
	background-color: #21A1CB;
	padding: 0.5em 0em 0.5em 0em;
	margin: 0.5em 0em 0.5em 0em;
}
/* Formatting submit btn */
.btn
{
	width: auto;
	padding: 0.625em 1.125em;
	margin: .5em 0em 0em 0em;
}

/*Footer Styling*/
footer
{
    text-align: center;
    color: white;
    background-color: #4A7280;
    padding: 2em 0em 1em 0em;
}