/*Page Background*/
body
{
	background: url(../images/log_in_background.jpg) no-repeat center center fixed;
	background-size: cover;
}

/*Modal Look and Feel*/
.main_section
{
	margin: 0em auto;
	margin-top: 7em;
}

.modal-content
{
	background-color: #215566;
	opacity: 0.85;
	padding: 0em 1.5em 0em 1.5em;
	box-shadow: 0em 0em 0.3em #215566;
}

/*Input*/
.form-group input
{
	border: 0em;
	font-size: 1.3em;
}

.btn
{
	width: 80%;
	margin-bottom: 0.5em;
}
