
/*Top Row of the Page*/
.welcome_logo
{
	padding-left: 9.2em;
}

/*Every row except the top row has to be have these margins*/
.non_top_row
{
	margin: 0em 11em 1em 11em;
	text-align: center;
}

/*Mision Statement*/
.mission_statement_background
{
	height: 20em;
	background-color: #8199A1;
}

.mission_title
{
	font-size: 2.5em;
	text-align: left;
	color: white;
	padding: 0.8em 0em 0em 0em;
	border-bottom: 1px solid white;
	margin: 0em 1.5em 0.3em 1.5em; 
}

.mission_statement
{
	font-size: 2.3em;
	text-align: center;
	color: white;
	padding: 0.4em 0em 0em 0em 0em;
	margin: 0em 1.5em 0.3em 1.5em; 
}

/*Latest News*/
h4.jumbotron
{
	width: 100%;
	padding: 0.8em 0em 0.8em 0em;
	margin-bottom: 0em;
	color: white;
	background-color: lightblue;
}

/*Latest News Articles*/
.article_picture
{
	width: 7em;
	height: 7em;
	margin-top: 1em;
}

.article_brief_explanation
{
	font-size: 0.95em;
	text-align: center;
	margin-bottom: 0.1em;
}
